/* Form */
form{

  > .label{
    margin-bottom: 10px;
  }

  fieldset{
    margin: 0;
    padding: 0;
    border: none;

    &.before-btn{
      width: 80%;
      display: inline-block;

      &+ input[type="submit"]{
        margin-top: 22px;
        vertical-align: top;
      }

    }
  }

  .form-group{
    margin-bottom: 15px;

    input{
      margin: 0;
    }
  }

  .submit-wrapper {
    text-align: right;

    input{
      &[type="submit"]{
        margin: 0;
      }

      &.no-margin{
        margin: 0;
      }
    }
  }
}
