/* Modal */
.steps-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  h2{
    margin-bottom: 20px;
  }

  .content{
    max-width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    pointer-events: auto;
  }

  .btn-wrapper{
    button{
      width: 100%;
      display: block;
      margin: 0;
    }
    small{
      display: inline-flex;
      line-height: 1.1;
    }
  }
}